* {
    margin: 0px;
    box-sizing: border-box;
}
.left-panel {
    position:fixed;
    width:33%;
    height: 100%;
    background-color: rgb(4, 77, 8);
    z-index: 5;
    opacity: 80%;
    /* border: 1px solid; */
    
}
.right-panel{
    position: absolute;
    right:0;
    width:67%;
    /* border: 5px solid red; */
    /* padding: 30px; */
    /* background-color: blue; */
    
}
/* Implémentation de la navbar */
.navbar {
    position:sticky;
    top:0;
    z-index: 4;
    text-align: center;
    height: 200px;
    /* border: 1px solid; */
    left: 33%;
    background-color: rgb(255, 255, 255);
    opacity: 100%;
    
}
.navbar div {
    display: inline-block;
    height: 200px;
    position: absolute;
    
}
.photo {
    background-color: brown;
    /* border: 1px solid ; */
    width: 33%;
    left:0;
}
.title {
    background-color: blue;
    width: 67%;
    /* height: 200px; */
    right: 0%;
    /* padding: 10px;  */
    margin: 0 auto;
    text-align: center;

}

/*Partie principale*/
.main{
    position: relative;
    /* left: 33%; */
    /* border: 1px solid; */
    /* background-color: bisque; */
    padding: 5px;
}
.atout{
    position: sticky;
    top:0;
    background-color: bisque;

}
.experience {
    position: sticky;
    top:0;
    background-color: aquamarine;

}
.formation {
    position: sticky;
    background-color: bisque;

}
h2 {
    text-align: center;
}
